<ion-view view-title="Map">
	<ion-content>
		<div id="map_canvas">
			<ui-gmap-google-map center='mapa.center' zoom='mapa.zoom'></ui-gmap-google-map>
			<ui-gmap-google-map center='mapa.center' zoom='mapa.zoom'>
				<ui-gmap-marker idkey="meuMarcador.id" coords="meuMarcador.coords" options="meuMarcador.options"></ui-gmap-marker>
				<ui-gmap-marker ng-repeat="marcadorProduto in marcadorProdutos track by marcadorProduto._id" idkey="marcadorProduto.id" coords="marcadorProduto.coords" options="marcadorProduto.options">
					<ui-gmap-window options="marcadorProduto.window.options"></ui-gmap-window>
				</ui-gmap-marker>
				<ui-gmap-circle center="meuRaio.center" stroke="meuRaio.stroke" fill="meuRaio.fill" radius="meuRaio.radius" visible="meuRaio.visible"></ui-gmap-circle>
			</ui-gmap-google-map>
		</div>
	</ion-content>
</ion-view>